*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bcg-bludark{
    background-color: #2c3e50;
}

.bcg-white{
    background-color: white;
}

.c-bludark{
    color: #2c3e50;
}

.c-white{
    color: white;
}


.bg-green{
    background-color: #1abc9c;
}




/* sezione header */
.nav-bar{
    height: 80px;
    background-color: thistle;
}



/* jumbotron */
.jumbo{
    background-color: tomato;
    height: 500px;
}

.line-star{      
    width: 175px;
    height: 4px;
    border-radius: 10px;
}

.symbol-star{
    margin: 0 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.item-img-jumbo{
    width: 20%;
}

.title-jumbo h1{
    font-size: 4.5rem;
}


/* portfolio */
.portofolio{
    background-color: yellow;
    width: 100%;    
}

.title-portfolio{
    height: 50px;
}

.icon-img{
    height: 250px;  
    width: 95%;  
    background-color: purple;
    border: 1px solid black;
    border-radius: 10px;
    margin:10px
}

/* about */
.contenitor-about{
    background-color: wheat;
    height: 400px;
    padding: 0 100px;
}

.item-testo-about{
    height: 175px;  
    width: 95%;  
    background-color: rgb(216, 129, 216);    
    border-radius: 10px;
    margin:10px
}




.btn-download{
    border: 2px solid white ;
    border-radius: 10px;
    height: 45px;
    width: 160px;
    font-size: 20px;
    text-decoration: none; 
    color: white;

}

.btn-download a{
    text-decoration: none; 
    color: white;   
}



/* contact */
.contenitor-contact{
    height: 700px;
}








/* footer */
.up-footer{
    background-color: #3a546d;
}

.content-up-footer{
    height: 230px;
}

.content-down-footer{
    height: 100px;
}